h1 Login
form(method='POST')
  label(for='email') Email Address
  input(
    type='email'
    name='email'
    placeholder='you@example.com'
    required
  )
  label(for='password') Password
  input(
    type='password'
    name='password'
    placeholder='**********************'
    required
  )
  a(href='/') Cancel
  input(type='submit' value='Login')
