h1 Register
form(method='POST')
  label(for='email') Email Address
  input(
    type='email'
    name='email'
    placeholder='user@login.com'
    required
  )
  label(for='password') Password
  input(
    type='password'
    name='password'
    placeholder='**********************'
    required
  )
  label(for='confirmation') Password Confirmation
  input(
    type='password'
    name='confirmation'
    placeholder='**********************'
    required
  )
  a(href='/') Cancel
  input(type='submit' value='Register')
